@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #2C46B1;
  --color-primary-dark: #2C4091;

  --color-white: #FFFFFF;

  --color-gray-100: #F9F9FB;
  --color-gray-200: #E4E6EC;
  --color-gray-300: #CDCFD5;
  --color-gray-400: #74798B;
  --color-gray-500: #4D505C;
  --color-gray-600: #1F2025;

  --color-danger: #B12C4D;

  --text-xl: 24px;
  --text-lg: 18px;
  --text-md: 14px;
  --text-sm: 12px;
  --text-xs: 10px;
}